/Debug/
/ipch/
/mp4demux.10.opensdf
/mp4demux.10.sdf
/mp4demux.10.suo
/mp4demux.9.sdf
/mp4demux.9.suo
/mp4demux.9.vcxproj.user
/mp4demux.sdf
/mp4demux.vcxproj.user
/*.vp*
/*.10.vtg
/*.suo
/*.aps
/*.opensdf
