/*.vp*
/x64/
/*.9.vtg
/UpgradeLog.XML
/mp4mux.9.sdf
/mp4mux.9.sln.old
/mp4mux.9.suo
/_UpgradeReport_Files/
/Debug/
/ipch/
/*.9.opensdf
/.DS_Store
/mp4mux.9.vcxproj.user
/*.9.vcxproj.user
/*.aps
/mp4mux.opensdf
/mp4mux.sdf
/mp4mux.suo
